<div class="container-fluid background">
  <div class="row">


    <div class="container-fluid text-center bg-baselard-purple fc-wit">
      <br/>
      <h1 class="display-1">BC's Bot Builder V1.0 Alpha</h1>
      <p class="display-3">By a mech enthousiast for mech enthousiasts.</p>
      <br/>
    </div>

  </div>
</div>


<div class="row">

  <div id="visitor-home-about" class="container-fluid text-center bg-baselard-white fc-baselard-purple">
    <br/>
    <h2 class="display-2">About</h2>
  </div>
</div>
<div class="row">
  <div class="container-fluid bg-baselard-white fc-baselard-purple">
    <p>This site is a school project made by Ben Chermenschi as a final test for one of his courses.</p>
    <p>This site features a backend api also hosted on Heroku.</p>
    <p>This site is not meant for commercial use. It is purely a proof of concept.</p>
    <p>This site is not responsible for any data lost on the site.</p>

    <br/>
  </div>

</div>

<div class="row">
  <div class="container-fluid text-center bg-baselard-white fc-baselard-purple">
    <h2 class="display-2">Features</h2>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <h3>Explore</h3>
          <p>Discover an evergrowing collection of parts and mechs created by various anonymious users.</p>
        </div>
        <div class="col-4">
          <h3>Manage</h3>
          <p>Various manufacturers, parts and mechs that can be created from your wishes and needs.</p>
        </div>
        <div class="col-4">
          <h3>Free Unlimited Access</h3>
          <p>As this is a students project it is accessable as a free system for anyone to use. </p>
        </div>
      </div>
    </div>
  </div>
</div>
