.bg-color1 {
  background-color: rgba(215, 255, 241, 1);
}

.bg-color2 {
  background-color: rgba(82, 183, 62, 1);
}

.bg-color3 {
  background-color: rgba(170, 252, 184, 1);
}

.bg-color4 {
  background-color: rgba(247, 249, 239, 1);
}

.bg-color5 {
  background-color: rgba(140, 215, 144, 1);
}


.fc-color1 {
  foreg-color: rgba(215, 255, 241, 1);
}

.fc-color2 {
  color: rgba(82, 183, 62, 1);
}

.fc-color3 {
  color: rgba(170, 252, 184, 1);
}

.fc-color4 {
  color: rgba(247, 249, 239, 1);
}

.fc-color5 {
  color: rgba(140, 215, 144, 1);
}

.fc-wit{
  color : white;
}
